
@{
    ViewBag.Title = "FilmsDeleteConfirmed";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>Film Silme</h2>
<div class="col-lg-12">Film silme işlemi başarıyla gerçekleşti. @Html.ActionLink("Listeye Geri Dön", "Films")</div>

