
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>Admin Paneline Hoşgeldiniz</h2>
<div class="col-md-12">Bu sitede yönetmek istediğiniz işlemleri buradan gerçekleştirebilirsiniz. Gerekli linkler sağ üst kısımda mevcuttur.</div>
