
@{
    ViewBag.Title = "MembersDeleteConfirmed";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>Üye Silme</h2>
<div class="col-lg-12">Üye silme işlemi başarıyla gerçekleşti. @Html.ActionLink("Listeye Geri Dön", "Members")</div>

