
@{
    ViewBag.Title = "PostsDeleteConfirmed";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>Yorum Silme</h2>
<div class="col-lg-12">Yorum silme işlemi başarıyla gerçekleşti. @Html.ActionLink("Listeye Geri Dön", "Posts")</div>


