
@{
    ViewBag.Title = "About";
    Layout = "~/Views/_Girisli.cshtml";
}

<h2>Hakkımızda</h2>
<div class="col-sm-12 col-md-12 col-lg-12">
    Bu site herkesin film izlemesi ve yeni çıkacak filmlerden haberdar olması için tasarlanmıştır. İstenilen içeriğe yukarıda verilen linkler üzerinden ulaşabilirsiniz.

</div>

