
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Girisli.cshtml";
}

<h2>Web Sitemize Hoşgeldiniz</h2>
<div class="col-lg-12 col-md-12 col-sm-12">
    Merhaba arkadaşlar , web sitemize hoşgeldiniz . Web sitemizde dilediğiniz kadar film izleyebilir ve yeni çıkacak filmlerden haberdar olabilirsiniz.
    Bu web sitesinde üye girişi yapmadan yorum yapmak yasaktır. Uygunsuz yorum yapmak uzaklaştırılma nedenidir. Web sitemizde yorumlar onaylanmadan görüntülenmemektedir.
    Üye olmak için @Html.ActionLink("buraya","Register") tıklayabilirsiniz.
</div>

